/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Buradan başlıyor */

.anasayfa {
  margin: auto; /* sayfa içeriğinin ortalanması */
  display: block;
  flex-direction: column;
}
.header {
  display: flex; /* menü öğelerini yan yana hizalamak için */
  justify-content: space-between; /* öğeleri arasında boşluk bırakmak için */
  align-items: center; /* öğeleri dikeyde ortalamak için */
  padding: 20px; /* içeriğin etrafına boşluk bırakmak için */
  background-color: #ce2829; /* arka plan rengi */
}

.anasayfa-buton {
  padding: 10px 60px;
  font-weight: bold;
  font-size: 20px;
  background-color: #fdc913;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: Calibri;
  transition: 0.5s;
  text-decoration: none;
}
.anasayfa-buton:hover {
  background-color: rgb(21, 76, 121);
  color: aliceblue;
}

.pizza {
  position: relative; /* içeriği konumlandırmak için */
}

.pizza h1 {
  font-family: "Bangers", cursive;
  letter-spacing: 13px;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  text-shadow: 2px 2px 4px #000000;
}
.reklam {
  background-color: #ce2829;
  padding-top: 85px;
  padding-bottom: 85px;
}
.reklam h3 {
  text-align: center;
  padding: 100px;
  color: aliceblue;
  background-color: rgb(21, 76, 121);
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.reklam h3:hover {
  background-color: rgb(34, 100, 160);
}
.sufle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
}
.sufle img {
  width: 50%;
  border: 8px solid #fdc913;
}
.sufle p {
  text-shadow: 2px 2px 4px #000000;
  color: aliceblue;
  letter-spacing: 1px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-family: "Alkatra", cursive;
}
.anasayfa-genis {
  width: 100%; /* resmin genişliği */
  height: 800px; /* oranları korumak için */
}

.pizzaCesitler img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
.pizzaCesitler {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pizza-kart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 15px;
  box-sizing: border-box;
  background-color: #fdc913;
  border-radius: 8px;
  margin: 0 10px;
}
.pizza-kart p {
  padding-top: 10px;
  font-family: calibri;
  font-weight: bold;
  color: rgb(21, 76, 121);
  text-align: center;
}
.footer {
  background-color: #faf7f2;
  color: #444;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  list-style: none;
  display: flex;
}

.footer ul li:not(:last-child) {
  margin-right: 10px;
}

.footer ul li a {
  color: #444;
  text-decoration: none;
  transition: color 0.2s;
}

.footer ul li a:hover {
  color: #777;
}
