body {
  display: flex;
  justify-content: center;
  background-color: brown;
}
.baslik {
  text-align: center;
  margin-top: 50px;
}
h3 {
  margin-bottom: 50px;
  color: aliceblue;
  font-family: "Ramabhadra", sans-serif;
  letter-spacing: 5px;
  font-size: 30px;
}
h2 {
  margin-bottom: 50px;
  color: aliceblue;
  font-size: 50px;
  font-family: "Bangers", cursive;
  letter-spacing: 13px;
}

.giris-buton {
  padding: 8px 50px;
  font-weight: bold;
  font-size: 20px;
  background-color: aliceblue;
  border-radius: 10px;
  border: solid 1px aliceblue;
  font-family: Calibri;
  transition: 0.5s;
}
.giris-buton:hover {
  background-color: rgb(136, 47, 47);
  color: aliceblue;
}

.giris-image {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
