/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Buradan başlıyor */
* {
  margin: 0;
}
.siparis {
  display: flex;
  flex-direction: column;
}
.form-yazi {
  padding: 120px 200px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-family: calibri;
  color: aliceblue;
  font-weight: bold;
}
.bolum1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  gap: 120px;
}
.pizza-turu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pizza-turu h3,
.hamur-boyut h3,
.hamur-kalinligi h3,
.ek-malzemeler h3,
.siparis-adet h3,
.iletisim-bilgileri h3 {
  font-size: 2rem;
  color: rgb(194, 220, 241);
  padding-bottom: 20px;
}

.ek-malzemeler p {
  padding-bottom: 20px;
}

.pizza-select {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
