/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Buradan başlıyor */
* {
  margin: 0;
}
.siparis-container,
.form-yazi {
  margin: 0 auto;
  text-align: left;
}
.yemek-secimi {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 40px;
  padding-top: 40px;
}

.yemek-secimi h2 {
  font-family: calibri;
  font-size: 2rem;
  font-weight: bold;
}
.yemek-secimi h3 {
  font-family: calibri;
  font-size: 2.5rem;
  font-weight: bold;
}
.gri {
  color: #5f5f5f;
  font-family: calibri;
  font-weight: bold;
  font-size: 17px;
}
.yeniSiparis img {
  height: 250px;
  width: 250px;
}
.yeniSiparis {
  background-color: #ce2829;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  gap: 50px;

  /* Tam ekran boyutunu kaplamak */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
h1 {
  font-family: "Barlow", sans-serif;
  color: #faf7f2;
  font-size: 3rem;
  text-align: center;
}
p {
  font-family: calibri;
  font-size: 1rem;
  color: #5f5f5f;
  font-size: 15px;
  font-weight: bold;
}
.siparis {
  display: flex;
  flex-direction: column;
}
.bolum1,
.bolum2 {
  padding-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 100px;
}
.bolum3 {
  display: flex;
  gap: 50px;
}

.siparis-notu-select {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ek-malzemeler {
  padding-bottom: 80px;
}

.pizza-turu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.st {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.top-siparis {
  padding-top: 1rem;
  background-color: #ffffff;
  border: 1px solid rgb(89, 89, 89);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-siparis h3 {
  padding: 10px;
}
.pizza-turu h3,
.hamur-boyut h3,
.hamur-kalinligi h3,
.ek-malzemeler h3,
.siparis-adet h3,
.top-siparis h3,
.iletisim-bilgileri h3 {
  font-size: 2rem;
  padding-bottom: 20px;
  font-family: calibri;
  font-weight: bold;
}

.ek-malzemeler p {
  padding-bottom: 20px;
}
.ps {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.pizza-select {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*.bolum2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  gap: 120px;
}
.bolum3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4rem;
}*/
.siparisNotu {
  width: 18rem;
  height: 2rem;
}
.buton-siparis {
  width: 100%;
  background-color: #fdc913;
  border: none;
  outline: none;
  padding: 10px;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  cursor: pointer;
}

.buton-siparis:disabled {
  opacity: 0.5; /* etkisiz hale getirildiğinde görünümü soluklaştır */
  cursor: not-allowed; /* etkisiz hale getirildiğinde fare imleci şekli */
}
.gif {
  width: 100px;
  height: 100px;
  margin-left: 50px;
  /* diğer özellikler */
}
.gif-delivery {
  width: 10%;
  height: 30%;
}
